html { font-size: 10px;
    font-family: Helvetica, Arial, sans-serif; }
    
    header, main { 
        padding: 2rem solid white; 
        color:rgba(150, 113, 34, 0.603);
        background-color:azure;
        background: 1rem;
        text-align: center;
        text-decoration-color: rgba(236, 169, 92, 0.897);
        display: block;
        text-decoration: none;
        border: .2em solid white;

    }
    header nav ul {
        list-style-type: none;
        background-color: rgb(222, 235, 108);
      }
   li a:hover {
        color: white;
        background: #87492F;
        border-left: .2em solid white;
        }

body {
     background-color: #333;
    }
 
h1 { 
    font-size: 4.8rem;
    color: white;
 }

div {
    font-style: arial;
    font-size: 4rem;
    color: white;
    text-align: center;
    text-emphasis:bold;
}

p {
    line-height:1.5;
}



li { font-size: 2.6rem; }

li { line-height: 1.5; }

a:link { color: #e60000; }

a:visited { color:#b300b3; }

a:hover { color: #cc3300; background-color: #ebebe0; text-decoration: none; }

a:active { color: #ebebe0; background-color: #cc3300; text-decoration: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden ;
  background-color: #333; 
}

li {float: left;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

footer {
    
    background-color: darkgrey;
    text-align: right;
    font-size: 2rem;
    color:black;
}

footer { 
  border-top: 6px solid #999; 
  margin-top: 3em;
  padding-top: 2em;

}
 
img {
  
  display: block;
  margin: 0 auto;
  transform: rotate(90deg);

}
* {
    box-sizing: border-box;
    color:solid white;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  /* The grid: Four equal columns that floats next to each other */
  .column {
    float: left;
    width: 15%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: .5; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 2;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position:relative;
    display: center;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }