html { font-size: 10px;
    font-family: Helvetica, Arial, sans-serif; }
    
    header, main { 
        padding: 2rem solid white; 
        color:rgba(150, 113, 34, 0.603);
        background-color:azure;
        background: 1rem;
        text-align: center;
        text-decoration-color: rgba(236, 169, 92, 0.897);
        display: block;
        text-decoration: none;
        border: .2em solid white;

    }

   li a:hover {
        color: white;
        background: #87492F;
        border-left: .2em solid white;
        }

body {
     background-color: #333;
    }
 
h1 { 
    font-size: 4.8rem;
    color: darkred;
 }

h2{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
dt {
    font-size: 25px;
    color: white;
    
}
div{
  position: static;
  display: static;
  margin-right:10px;
  
}
section { font-size: 5rem;
    font-display:block;
    padding-bottom: 5rem;
    color:darkred;
    background-color:cornsilk;
    border-bottom-color:chartreuse;
    border-bottom-style: solid;
    border-bottom-width: 2rem;
    
}

.video1{
    margin-left:1000px;
}



li { font-size: 2.6rem; }

li { line-height: 1.5; }

a:link { color: #e60000; }

a:visited { color:#b300b3; }

a:hover { color: #cc3300; background-color: #ebebe0; text-decoration: none; }

a:active { color: #ebebe0; background-color: #cc3300; text-decoration: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden ;
  background-color: #333; 
}

li {float: left;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

footer {
    
    background-color: darkgrey;
    text-align: right;
    font-size: 2rem;
    color:black;
}

footer { 
  border-top: 6px solid #999; 
  margin-top: 3em;
  padding-top: 2em;

}

section h1 { 
  background-color: #eee0604f;
  padding: .5em;;
  border-top: 5px solid #336699;
  border-radius: 10px;
  margin-left: -.5em;
  margin-right: -.5em;
}

header h1 {
  background-color: #4679ac;
  color: rgb(82, 25, 25);
  padding: .5em;;
  border-top: 5px solid #274563;
  border-radius: 10px;
  margin-left: -1em;
  margin-right: -1em;
}    

header nav ul {
  list-style-type: none;
  background-color: rgb(222, 235, 108);
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: rgb(12, 11, 11);
  display: block;
  text-decoration: none;
  padding: 10px;
}
