
html { font-size: 10px;
font-family: Helvetica, Arial, sans-serif; }

header { padding: 2rem; 
    color:chocolate;
    background-color:beige;
    text-align: center; 
}

h1 {
    font-size: 6rem;
    color: darkgreen;
}

h2 {
    font-size: 4rem;
    text-align: center;
    color: black;
    padding: 4rem;
}

li{ font-size: 3rem;   
}

li{ line-height: 1.5; }
a:link { color: #e60000; }
a:visited { color:#b300b3; }
a:hover { color: #cc3300; background-color: #ebebe0; text-decoration: none; }
a:active { color: #ebebe0; background-color: #cc3300; text-decoration: none; }

section {   
    list-style-position: none;
    padding-bottom:.3rem;
    background-color: cornsilk;
    font-size: 3rem; 
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333; 
}

footer {
    background-color: black;
    text-align: right;
    color:chartreuse;
    font-size: 2rem;
    border-bottom-color: floralwhite;
    border-bottom-width: .5rem;
    border-bottom-style: solid;
}

body {
  background-color: royaltan;
}


